.repo{
  color: var(--white);
  padding: 0 25px;


  h2{
    font-size: 20px;
    margin-bottom: 9px;
    font-weight: bold;
  }
  p{
    font-size: 15px;
  }

  .icons{
    margin-top: 13px;
    display: flex;
    justify-content: space-between;

    p{
      display: inline-block;
      position: relative;
      top: -4px;
      margin-left: 5px;
    }
  }

  hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}