.profile{
  display: flex;
  align-items: center;
  padding: 24px;
  color: var(--white);

  div{
    display: flex;
    align-items: center;
  }

  div::before{
    content: '';
    display: inline-block;
    margin-left: -24px;
    margin-right: 14px;
    height: 42px;
    width: 10px;
    background-color: #FFCE00;
    border-radius: 0 20px 20px 0;
  }

  img{
    height: 64px;
    width: 64px;
    border-radius: 50%;
    border: 3px solid var(--white);
    margin-right: 32px;
  }

  a{
    background: transparent;
    color: var(--white);
    margin-left: auto;
  }
}

hr{
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}