.header{
  display: flex;
  padding: 20px;
  justify-content: space-between;
  color: var(--white);
  background-color: var(--very-dark-gray);
  align-items: center;

  button{
    background: transparent;
    text-decoration: none;
    color: var(--white);

  }

  p{
    margin-left: -26px;
  }
}